source ~/.vimrc
let mapleader = " "
" Enable vim-surround emulation
set surround

" copy and paste to system clipboard
noremap <Leader>y "*y
noremap <Leader>Y "*Y
noremap <Leader>p "*p
noremap <Leader>P "*P

" code navigation
nnoremap <Leader>u :action FindUsages<cr>
nnoremap <Leader>gd :action GotoDeclaration<cr>
nnoremap <Leader>gi :action GotoImplementation<cr>
nnoremap <Leader>sm :action GotoSuperMethod<cr>
nnoremap <Leader>t :action GotoTest<cr>
nnoremap <Leader>o :action GotoFile<cr>
nnoremap <Leader>oc :action GotoClass<cr>
nnoremap <Leader>os :action GotoSymbol<cr>
nnoremap <Leader>O :action FileStructurePopup<cr>
nnoremap <Leader>b :action Back<cr>
nnoremap <Leader>f :action Forward<cr>

" actions
nnoremap <Leader>r :action ChooseRunConfiguration<cr>
nnoremap <Leader>d :action ChooseDebugConfiguration<cr>
nnoremap <Leader>q :action CloseContent<cr>
nnoremap <Leader>Q :action ReopenClosedTab<cr>
nnoremap <Leader>b :action ToggleLineBreakpoint<cr>

" windows specific
nnoremap <A-d> :action VimMotionScrollHalfPageDown<cr>
nnoremap <A-u> :action VimMotionScrollHalfPageUp<cr>
