source ~/.vimrc
let mapleader = " "
" Enable vim-surround emulation
set surround

" copy and paste to system clipboard
noremap <Leader>y "*y
noremap <Leader>Y "*Y
noremap <Leader>p "*p
noremap <Leader>P "*P

" code navigation
nnoremap <Leader>u :action FindUsages<cr>
nnoremap <Leader>i :action GotoImplementation<cr>
nnoremap <Leader>sm :action GotoSuperMethod<cr>
nnoremap <Leader>t :action GotoTest<cr>
nnoremap <Leader>O :action GotoFile<cr>
nnoremap <Leader>o :action FileStructurePopup<cr>
nnoremap <Leader><BS> :action Back<cr>

" actions
nnoremap <Leader>r :action Run<cr>
nnoremap <Leader>d :action Debug<cr>
nnoremap <Leader>q :action CloseContent<cr>
nnoremap <Leader>Q :action ReopenClosedTab<cr>
nnoremap <Leader>b :action ToggleLineBreakpoint<cr>

" windows specific
nnoremap <A-d> :action VimMotionScrollHalfPageDown<cr>
nnoremap <A-u> :action VimMotionScrollHalfPageUp<cr>
